{% extends 'layout.html.twig' %}
        {% block body %}
            <div class="container">
                <div class="sixteen columns">
                    <div class="h-border">
                        <div class="heading">
                            <h1>Blog</h1>
                        </div>
                    </div>
                </div>
                <div class="eight columns">
                    <div class="article-container">
                        <a href="blog-post.html"><img src="img/blog-thumb.png" alt="Blog"></a>
                        <a href="blog-post.html">Tri Website Template to be the Best Thing Ever</a>
                        <p>AwfulMedia's Tri Media template is rising to the top of the free website template charts - estimated to reach #1 by 2017.</p>
                    </div>
                </div>
                <div class="eight columns">
                    <div class="article-container">
                        <a href="blog-post.html"><img src="img/blog-thumb.png" alt="Blog"></a>
                        <a href="blog-post.html">Tri Website Template to be the Best Thing Ever</a>
                        <p>AwfulMedia's Tri Media template is rising to the top of the free website template charts - estimated to reach #1 by 2017.</p>
                    </div>
                </div>
                <div class="eight columns">
                    <div class="article-container">
                        <a href="blog-post.html"><img src="img/blog-thumb.png" alt="Blog"></a>
                        <a href="blog-post.html">Tri Website Template to be the Best Thing Ever</a>
                        <p>AwfulMedia's Tri Media template is rising to the top of the free website template charts - estimated to reach #1 by 2017.</p>
                    </div>
                </div>
                <div class="eight columns">
                    <div class="article-container">
                        <a href="blog-post.html"><img src="img/blog-thumb.png" alt="Blog"></a>
                        <a href="blog-post.html">Tri Website Template to be the Best Thing Ever</a>
                        <p>AwfulMedia's Tri Media template is rising to the top of the free website template charts - estimated to reach #1 by 2017.</p>
                    </div>
                </div>
<!--                <section class="row contact">
                    <div class="sixteen columns">
                        <form class="clearfix">
                            <input type="text" class="small-text" placeholder="Name">
                            <input type="text" class="small-text" placeholder="Email">
                            <input type="text" class="small-text" placeholder="Title">
                            <textarea class="message">Message</textarea>
                            <input type="submit" class="btn green">
                        </form>
                </section>
-->                <div class="clear"></div>
            </div>
        {% endblock %}