{% extends 'layout.html.twig' %}
        {% block body %}
            <div class="container">
                <section class="sixteen columns feature">
                    <div class="flexslider">
                        <ul class="slides">
                            <li>
                                <img src="img/feature-1.png" alt="Featured">
                            </li>
                            <li>
                                <img src="img/feature-1.png" alt="Featured">
                            </li>
                        </ul>
                    </div><!--Close Flexslider Div-->
                </section>
                <div class="sixteen columns">
                    <div class="h-border">
                        <div class="heading">
                            <h1>Latest Work</h1>
                        </div><!--Close "Heading" Div-->
                    </div><!--Close H-border Div-->
                </div>
                <section class="latest-work row">
                    <div class="one-third column thumbnail">
                        <a href="#">
                            <img src="img/thumb-1.jpg" alt="Thumb">
                            <div class="details">
                                <h2>Tri by AwfulMedia</h2>
                                <p>Here's some description of the Tri template by AwfulMedia</p>
                            </div><!--Close Details Div-->
                        </a>
                    </div><!--Close Thumbnail Div-->
                    <div class="one-third column thumbnail">
                        <a href="#">
                            <img src="img/thumb-1.jpg" alt="Thumb">
                            <div class="details">
                                <h2>Tri by AwfulMedia</h2>
                                <p>Here's some description of the Tri template by AwfulMedia</p>
                            </div><!--Close Details Div-->
                        </a>
                    </div><!--Close Thumbnail Div-->
                    <div class="one-third column thumbnail">
                        <a href="#">
                            <img src="img/thumb-1.jpg" alt="Thumb">
                            <div class="details">
                                <h2>Tri by AwfulMedia</h2>
                                <p>Here's some description of the Tri template by AwfulMedia</p>
                            </div><!--Close Details Div-->
                        </a>
                    </div><!--Close Thumbnail Div-->
                </section>
                <div class="sixteen columns row">
                    <div class="h-border">
                        <div class="heading">
                            <h2>Who Are We?</h2>
                        </div><!--Close "Heading" Div-->
                    </div><!--Close H-border Div-->
                    <div class="focused-text">
                        Well, we are a fake website design company based on the Planet Mars.
                        That's right, get your website designed by a martian! Again, we're not real.
                    </div><!--Close Focused-text Div-->
                </div>
                <div class="row">
                    <div class="eight columns center">
                        <div class="h-border">
                            <div class="heading">
                                <h2>Web Designers</h2>
                            </div><!--Close "Heading" Div-->
                        </div><!--Close H-border Div-->
                        <img src="img/icon-1.png" alt="Icon 1">
                        <p class="focused-text">A fake website design company with fake website designers. What did you expect?</p>
                    </div>
                    <div class="eight columns center">
                        <div class="h-border">
                            <div class="heading">
                                <h2>Software Engineers</h2>
                            </div><!--Close "Heading" Div-->
                        </div><!--Close H-border Div-->
                        <img src="img/icon-2.png" alt="Icon 2">
                        <p class="focused-text">Oh yeah, we also fakely develop fake software. We're a darn good company.</p>
                    </div>
                </div>
            </div>
        {% endblock %}
